name: Build Markdownz PR Branch

on:
    # Run this workflow on creation (or sync to source branch) of a new pull request
    pull_request:
    workflow_dispatch:

jobs:
  test:
    name: Test branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/iron'
          cache: 'npm'
      - run: npm ci
      - run: npm test
  build:
    name: Build branch
    uses: zooniverse/ci-cd/.github/workflows/npm_build.yaml@main
    needs: test
    with:
      commit_id: ${{ github.sha }}
      node_version: 'lts/iron'
      output: 'lib'
      script: 'build'
  slack_notifiaction:
    name: Send Slack notification
    uses: zooniverse/ci-cd/.github/workflows/slack_notification.yaml@main
    needs: build
    if: always()
    with:
      commit_id: ${{ github.sha }}
      job_name: Build branch / build
      status: ${{ needs.build.result }}
      title: 'Markdownz branch build complete'
      title_link: 'https://github.com/zooniverse/markdownz'
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
